<form class="form-inline mb-5" action="/searchGiphy" method="get">
    <div class="form-group">
        <input size="124" class="form-control grow" type="text" name="kword" id="keyword" placeholder="what's your mood..." autofocus autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>