<form class="mb-5" action="/searchGiphy" method="get">
    <div class="form-group">
        <input size="120" class="form-control" type="text" name="kword" id="keyword" placeholder="whatcha feelin?" autofocus autocomplete="off">
        <small>Having trouble communicating?  There's a gif for that!</small>
    </div>
    <button type="submit" class="btn btn-primary">Find My Gif</button>
</form>