<%- include('partials/header'); %>

<div class="row">
    <% data.forEach(element => { %>
        <%- include('./partials/giph', { element }) %> 
    <% }); %>
</div>

<%- include('partials/footer'); %>